<div class="d-flex justify-content-center">
  <div class="card w-25">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input [(ngModel)]="authRequest.username"
                 id="username" name="username"
                 type="text" class="form-control"
                 required #username="ngModel" />
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger mt-3">

            <div *ngIf="username.errors?.['required']">
              Name is required.
            </div>

          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="authRequest.password"
                 id="password" name="password"
                 type="password" class="form-control"
                 ng-model="password"
                 required minLength="4"
                 #password="ngModel"/>

          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger mt-3">

            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>

            <div *ngIf="password.errors?.['minLength']">
              Password has to be at least 3 characters.
            </div>

          </div>
        </div>
        <div class="mb-3 form-check">
          <input [(ngModel)]="rememberMe" id="remember-me" name="remember-me" type="checkbox" class="form-check-input">
          <label class="form-check-label" for="remember-me">Remember me</label>
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Login
          </button>
          <a routerLink="../register" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
</div>
