<div class="container d-flex justify-content-center">
  <div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input [(ngModel)]="user.email"
                 id="email" name="email"
                 type="text" class="form-control"
                 required email="true"
                 #email="ngModel" />
          <div *ngIf="email.invalid && (email.dirty || email.touched)"
               class="alert alert-danger mt-3">

            <div *ngIf="email.errors?.['required']">
              Email is required.
            </div>

            <div *ngIf="email.errors?.['email']">
              Not a valid email.
            </div>

          </div>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input [(ngModel)]="user.username"
                 id="username" name="username"
                 type="text" class="form-control"
                 required #username="ngModel" />
          <div *ngIf="username.invalid && (username.dirty || username.touched)"
               class="alert alert-danger mt-3">

            <div *ngIf="username.errors?.['required']">
              Username is required.
            </div>

          </div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input [(ngModel)]="user.password"
                 id="password" name="password"
                 type="password" class="form-control"
                 ng-model="password"
                 required minLength="3"
                 #password="ngModel"/>

          <div *ngIf="password.invalid && (password.dirty || password.touched)"
               class="alert alert-danger mt-3">

            <div *ngIf="password.errors?.['required']">
              Password is required.
            </div>

            <div *ngIf="password.errors?.['minLength']">
              Password has to be at least 3 characters.
            </div>

          </div>
        </div>
        <div>
          <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
            Register
          </button>
          <a routerLink="../login" class="btn btn-link">Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
